<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wall</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container p-3">
      <div class="container">
        <h1 class="d-inline">Coding Dojo Wall</h1>
        <div class="float-right">
          <span class="d-inline mr-3">Welcome, {{fname}}</span>
          <a href="/logout">Logout</a>
        </div>
        <hr />
      </div>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <div class="container">
              <h4>{{count_messages}} Message(s) for you</h4>
              {% for message in user_messages %}
              <span
                ><span class="text-primary"
                  >{{message.first_name}} {{message.last_name}}</span
                >
                said ({{message.created_at}}):</span
              >
              <br />
              &ensp; <span>"{{message.contents}}"</span>
              <a href="/message_delete/{{message.id}}" class="d-block text-danger">Delete</a>
              <br />
              {% endfor %}
            </div>
          </div>
          <div class="col-6">
            <div class="container">
              <h4>Send messages</h4>
              {% with messages = get_flashed_messages() %} {% for message in
              messages %}
              <div class="alert alert-success" role="alert">{{message}}</div>
              {% endfor %} {% endwith %} {% for user in all_users %}
              <form action="/send_message" method="post">
                <div class="form-group">
                  <label for="" class="text-primary"
                    >{{user.first_name}} {{user.last_name}}</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="contents"
                    id=""
                    aria-describedby="helpId"
                    placeholder=""
                  />
                  <input
                    type="hidden"
                    name="recipient_id"
                    value="{{user.id}}"
                  />
                  <button type="submit" class="btn btn-primary mt-2">
                    Send
                  </button>
                </div>
              </form>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
